<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказы</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'index_app3' %}">Главная</a></li>
        <li><a href="{% url 'get_orders' %}">Фильтр заказов период<br>Все заказы/Создать, удалить заказ/Добавить товар в заказ</a></li>
        <li><a href="{% url 'get_products' %}">Все товары/Создать товары</a></li>
    </ul>
</nav>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>