{% extends 'les_app3/base.html' %}

{% block content %}
<h3>Клиенты</h3>

<table border="1">
    <tr>
        <th>ИД</th>
        <th>Клиент</th>
        <th>Телефон</th>
        <th></th>
        <th>Товары заказанные за последние:</th>
    </tr>
    {% for client in clients %}
    <tr>
        <td>{{client.id}}</td>
        <td>{{client.name}}</td>
        <td>{{client.phone}}</td>
        <td><a href="{% url 'create_order' client.id %}">Создать заказ</a></td>
        <td>
            <a href="{% url 'get_weak' client.id %}">7 дней /</a>
            <a href="{% url 'create_order' client.id %}">30 дней /</a>
            <a href="{% url 'create_order' client.id %}">365 дней</a>
        </td>
    </tr>
    {% endfor %}
</table>

<h3>Список заказов</h3>
<table border="1">
    <tr>
        <th>Заказ №</th>
        <th>Клиент</th>
        <th>Товар</th>
        <th>Общая цена</th>
        <th>Дата создания заказа</th>
    </tr>
    {% for order in orders %}
    <tr>
        <td>{{order.id}}</td>
        <td>{{order.client.name}}</td>
        <td>{% for order in order.product.all%}
            {{ order.name }}<br>
            {% endfor %}
        </td>
        <td>{{order.total_amount}}</td>
        <td>{{order.date_order}}</td>
        <td><a href="{% url 'add_product' order.id %}">Добавить товары</a></td>
        <td><a href="{% url 'del_order' order.id %}">Удалить заказ</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}