{% extends 'les_app4/base.html' %}

{% block title %} Все товары {% endblock %}

{% block content %}

<h2>Список товаров</h2>
<table border="1">
    <tr>
        <th>Имя</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Дата создания</th>
        <th>Фото</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{product.name}}</td>
        <td>{{product.descriptions}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.added_date}}</td>
        <td>
            {% if product.photo %}
            <img src="{{ product.photo.url }}" alt="{{ product.name }}" width="100">
            {% endif %}
        </td>
        <td><a href="{% url 'add_photo' product.id%}">Загрузить/Изменить фото товара</a></td>
        <td><a href="{% url 'update_product' product.id %}">Изменить</a></td>
        <td><a href="{% url 'delete_product' product.id%}">Удалить</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}