<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Клиенты</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'index' %}">Главная</a></li>
        <li><a href="{% url 'get_clients' %}">Список всех клиентов</a></li>
        <li><a href="{% url 'create_client' %}">Создать клиента</a></li>
        <li><a href="{% url 'du_client' %}">Удалить/Изменить</a></li>
    </ul>
</nav>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>